nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding-top: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}